# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Ambiente local
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS
.DS_Store
